body, html {
  background-color: black;
  height: 100%;
  margin: 0;
}

#prompt {
    color: white;
    position: fixed;
}
#canvas_wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
/*  left: 10%;
  width: 80%;
  */
}
#game_canvas {
    /* background: url(assets/images/background.png); */
}
#game_canvas {
  animation: stars 20s linear infinite;
  background-size: auto 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: -100%;
  height: 100%;
}

@keyframes stars {
  0%   { background-position: left; }
  50%  { background-position: right; }
  100% { background-position: left; }
}

#game_canvas{
    position: relative;
    float:left;
    border-radius: 7px;
    background: black;
    background-size: auto 100% !important;
}